@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Schibsted Grotesk", sans-serif;
}

.darkbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.loginbox {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputbox {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}

.iicon {
    margin: 3px;
    font-size: 15pt;
    color: #252525;
}

.inputfld {

    width: 100%;
    margin-left: 5px;
    padding: 8px;
    border: none;
    outline: none;
    color: #4680ff;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
    color-scheme: dark;
    color: #4680ff;
}

.fullbtn {
    height: 30px;
    width: 100%;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.nav {
    padding: 20px;
    height: 35px;
    width: 100%;
    background-color: #b3b3b3;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;        
}

h1 {
    margin: 0;
}

.btn {
    height: 30px;
    width: auto;
    padding: 7px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #4680ff;
    cursor: pointer;
    font-family: "Schibsted Grotesk", sans-serif;
}

.iconx {
    color: #4680ff;
    padding: 0 4px;
}

.underline {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right, #4680ff, #ff0000);
    border-image-slice: 1;
}

.vcc {
    display: none;
}


.test{
    background-color: red;
}
.min {
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.1)    ;
    border: 2px solid #ffffff;
    margin: 10px;
    padding: 5px;

}

.min:hover{
    border: 2px dashed #4680ff;
    cursor: pointer;
}
.min img {
    width: 68px;
    height: 68px;
    border-radius: 10px;
}